/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.header-container {
    /*border-bottom: 20px solid #3b78db;*/
    position: fixed;
    margin: 0 auto;
    top: 0%;
    width: 100%;
    z-index: 10;
}

.footer-container,
.main aside {
    border-top: 20px solid #3b78db;
}

.header-container,
.footer-container,
.main aside {
    background: #4286f4;
}

.title {
    color: white;
}
#particles-js {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -100;
  width: 100%;
  height: 100%;
}
/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    /*background: #3b78db;*/
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.ie7 .title {
    padding-top: 20px;
}
* {
    z-index: 0;
}
body {
    margin-bottom: 243px;
    /*margin-top: 75px;*/
    background-color: white;
}
#HW_badge_cont {
  display: inline-block !important;
  line-height: 100%;
  position: relative;
  top: 5px;
}
#HW_badge {
  background: #5ab987;
}
.hamburger {
    display: none !important;
}
ul.js-toggled {
    transition: 200ms all cubic-bezier(0.4, 0.0, 1, 1);
    overflow: hidden;
}
.visible {
    display: block !important;
    transition: 200ms all cubic-bezier(0.0, 0.0, 0.2, 1);
}
.show {
    height: calc(100vh - 20px);
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: -10;
    padding: 20px;
    background-color: #4286f4;
    text-align: center;
}
.footer-fixed {
  position: fixed;
  display: none;
  bottom: 0px;
  z-index: 100;
  width: 100vw;
  padding: 10px;
  overflow: hidden;
  font: 12px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #586069;
  background-color: #f7f7f7;
  border-radius: 0 0 2px 2px;
  transition: 500ms all cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.visible {
  display: block;
}
.footer-fixed > .right {
  margin-right: 40px;
  float: right;
}
.footer-fixed > .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.twitter-a {
  position: relative;
  text-decoration: underline;
}
/*.show::before {
    /*background-image: url('../img/show-bg.svg');*/
    /*background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    
    content: '';
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    will-change: transform;
    z-index: -100;
}*/
.logo {

}
.main-container {
    background-color: white;
}
a {
    color: #222;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.banner {
    width: 100% !important;
    /*height: 450px !important;*/
    color: white;
    background-color: #4286f4;
    text-align: center;
    padding-top: 20px;
}
.col img {
    height: 100px;
}
.download {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: url('../img/show-bg.svg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-color: white;
    background-attachment: fixed;
}
.download-btn {
    margin: 10px;
    width: calc(1.5em + 200px);
    height: calc(1.5em + 10px);
    /*padding: 10px 30px;*/
    /*background: #4286f4;*/
    text-align: center;
    line-height: calc(1.5em + 10px);
    background: #4286f4;
    color: white;
    font-size: 1.5em;
}
.download-btn:hover {
  text-decoration: underline;
  text-decoration-color: white;
}
.watch {
    width: calc(100vw - 100px);
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 2em;
}
.watch:hover {
  color: #4286f4;
  cursor: pointer;
}
.videoDisplayJS {
  display: none;
}
.star-btn {
    /*transition: all 250ms ease-in-out;*/
    margin: 10px;
    width: calc(1.5em + 200px);
    height: calc(1.5em + 4px);
    /*padding: 7px 24px;*/
    /*background: #4286f4;*/
    text-align: center;
    line-height: calc(1.5em + 4px);
    border: 3px #4286f4 solid;
    color: #4286f4;
    font-size: 1.5em;
}
.star-btn:hover {
  background: #4286f4;
  color: white;
  text-decoration: underline;
  text-decoration-color: white;
}
.examples {
  width: 100vw;
  padding: 30px;
  position: relative;
}
.codepen {
  width: calc(75vw);
  position: relative;
  margin: 0 auto;
  transform: translateX(-30px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}
.footer-container {
    position: fixed;
    z-index: -10;
    left: 0;
    right: 0;
    bottom: 20px;
}
footer {
    text-align: center;
}
footer > ul > li {
  display: inline-block;
  margin-left: 10px;
  position: relative;
  transform: translateX(-20px);
}
footer > ul > li > a {
    font-size: 2.5em;
    padding: 10px;
    text-decoration: none;
    position: relative;
    text-align: center;
    color: white;
}
li:hover {
  text-decoration: underline;
}
.madeby {
    text-decoration: none;
    position: relative;
    color: white;
}


.gist-meta {
  display: none;
}

.white {
  color: white;
}
.underline {
  text-decoration: underline;
}



/* ==========================================================================
   Media Queries
   ========================================================================== */
@media (max-width:840px) {
    .js-toggled {
        display: none;
    }
    .parent-hamburger {
        height: 0px;
        position: relative;
        margin-left: 80vw;
        display: flex;
        transform: translateY(calc(-42.5px + 0.25em));
        flex-direction: column;
        justify-content: center;
        font-size: 2em;
        color: white;

    }
    .hamburger {
        display: block !important;
    }
    body {
        margin-top: 50px;
    }
    .footer-fixed > .center {
      display: none !important;
    }
    .footer-fixed > .right {
      display: none !important;
    }
}

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }
    

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
/*!
 * waffle-grid - v1.3.3 - (https://lucasgruwez.github.io/waffle-grid)
 * Copyright 2017 Lucas Gruwez.
 * Licensed under MIT
 * https://lucasgruwez.github.io/waffle-grid
 */.container,.grid {
  width: 960px;
  max-width: 80%;
  margin: 0 auto;
}

.grid,.row {
  display: -ms-flexbox;
  display: flex;
}

.grid {
  -ms-flex-direction: column;
      flex-direction: column;
}

.grid.full-width {
  width: 100%;
  max-width: 100%;
}

.row {
  -ms-flex-direction: row;
      flex-direction: row;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col {
  box-sizing: border-box;
  margin: 10px;
  vertical-align: top;
}

.center,.left {
  margin-right: auto;
}

.center,.right {
  margin-left: auto;
}

.w-auto {
  -ms-flex: 1;
      flex: 1;
}

.col-1-of-4,.col-2-of-8,.col-3-of-12 {
  width: calc(25% - 20px);
}

.push-1-of-4,.push-2-of-8,.push-3-of-12 {
  margin-left: calc(25% + 20px / 2);
}

.pull-1-of-4,.pull-2-of-8,.pull-3-of-12 {
  margin-right: calc(25% + 20px / 2);
}

.col-2-of-4,.col-4-of-8,.col-6-of-12 {
  width: calc(50% - 20px);
}

.push-2-of-4,.push-4-of-8,.push-6-of-12 {
  margin-left: calc(50% + 20px / 2);
}

.pull-2-of-4,.pull-4-of-8,.pull-6-of-12 {
  margin-right: calc(50% + 20px / 2);
}

.col-3-of-4,.col-6-of-8,.col-9-of-12 {
  width: calc(75% - 20px);
}

.push-3-of-4,.push-6-of-8,.push-9-of-12 {
  margin-left: calc(75% + 20px / 2);
}

.pull-3-of-4,.pull-6-of-8,.pull-9-of-12 {
  margin-right: calc(75% + 20px / 2);
}

.col-12-of-12,.col-4-of-4,.col-8-of-8 {
  width: calc(100% - 20px);
}

.push-12-of-12,.push-4-of-4,.push-8-of-8 {
  margin-left: calc(100% + 20px / 2);
}

.pull-12-of-12,.pull-4-of-4,.pull-8-of-8 {
  margin-right: calc(100% + 20px / 2);
}

.col-1-of-8 {
  width: calc(12.5% - 20px);
}

.push-1-of-8 {
  margin-left: calc(12.5% + 20px / 2);
}

.pull-1-of-8 {
  margin-right: calc(12.5% + 20px / 2);
}

.col-3-of-8 {
  width: calc(37.5% - 20px);
}

.push-3-of-8 {
  margin-left: calc(37.5% + 20px / 2);
}

.pull-3-of-8 {
  margin-right: calc(37.5% + 20px / 2);
}

.col-5-of-8 {
  width: calc(62.5% - 20px);
}

.push-5-of-8 {
  margin-left: calc(62.5% + 20px / 2);
}

.pull-5-of-8 {
  margin-right: calc(62.5% + 20px / 2);
}

.col-7-of-8 {
  width: calc(87.5% - 20px);
}

.push-7-of-8 {
  margin-left: calc(87.5% + 20px / 2);
}

.pull-7-of-8 {
  margin-right: calc(87.5% + 20px / 2);
}

.col-1-of-12 {
  width: calc(8.33333% - 20px);
}

.push-1-of-12 {
  margin-left: calc(8.33333% + 20px / 2);
}

.pull-1-of-12 {
  margin-right: calc(8.33333% + 20px / 2);
}

.col-2-of-12 {
  width: calc(16.66667% - 20px);
}

.push-2-of-12 {
  margin-left: calc(16.66667% + 20px / 2);
}

.pull-2-of-12 {
  margin-right: calc(16.66667% + 20px / 2);
}

.col-4-of-12 {
  width: calc(33.33333% - 20px);
}

.push-4-of-12 {
  margin-left: calc(33.33333% + 20px / 2);
}

.pull-4-of-12 {
  margin-right: calc(33.33333% + 20px / 2);
}

.col-5-of-12 {
  width: calc(41.66667% - 20px);
}

.push-5-of-12 {
  margin-left: calc(41.66667% + 20px / 2);
}

.pull-5-of-12 {
  margin-right: calc(41.66667% + 20px / 2);
}

.col-7-of-12 {
  width: calc(58.33333% - 20px);
}

.push-7-of-12 {
  margin-left: calc(58.33333% + 20px / 2);
}

.pull-7-of-12 {
  margin-right: calc(58.33333% + 20px / 2);
}

.col-8-of-12 {
  width: calc(66.66667% - 20px);
}

.push-8-of-12 {
  margin-left: calc(66.66667% + 20px / 2);
}

.pull-8-of-12 {
  margin-right: calc(66.66667% + 20px / 2);
}

.col-10-of-12 {
  width: calc(83.33333% - 20px);
}

.push-10-of-12 {
  margin-left: calc(83.33333% + 20px / 2);
}

.pull-10-of-12 {
  margin-right: calc(83.33333% + 20px / 2);
}

.col-11-of-12 {
  width: calc(91.66667% - 20px);
}

.push-11-of-12 {
  margin-left: calc(91.66667% + 20px / 2);
}

.pull-11-of-12 {
  margin-right: calc(91.66667% + 20px / 2);
}

@media (max-width:840px) {
  .m-hide {
    display: none;
  }

  .w-m-auto {
    -ms-flex: 1;
        flex: 1;
  }

  .col-m-1-of-4,.col-m-2-of-8 {
    width: calc(25% - 20px);
  }

  .push-m-1-of-4,.push-m-2-of-8 {
    margin-left: calc(25% + 20px / 2);
  }

  .pull-m-1-of-4,.pull-m-2-of-8 {
    margin-right: calc(25% + 20px / 2);
  }

  .col-m-2-of-4,.col-m-3-of-6,.col-m-4-of-8 {
    width: calc(50% - 20px);
  }

  .push-m-2-of-4,.push-m-3-of-6,.push-m-4-of-8 {
    margin-left: calc(50% + 20px / 2);
  }

  .pull-m-2-of-4,.pull-m-3-of-6,.pull-m-4-of-8 {
    margin-right: calc(50% + 20px / 2);
  }

  .col-m-3-of-4,.col-m-6-of-8 {
    width: calc(75% - 20px);
  }

  .push-m-3-of-4,.push-m-6-of-8 {
    margin-left: calc(75% + 20px / 2);
  }

  .pull-m-3-of-4,.pull-m-6-of-8 {
    margin-right: calc(75% + 20px / 2);
  }

  .col-m-4-of-4,.col-m-6-of-6,.col-m-8-of-8 {
    width: calc(100% - 20px);
  }

  .push-m-4-of-4,.push-m-6-of-6,.push-m-8-of-8 {
    margin-left: calc(100% + 20px / 2);
  }

  .pull-m-4-of-4,.pull-m-6-of-6,.pull-m-8-of-8 {
    margin-right: calc(100% + 20px / 2);
  }

  .col-m-1-of-6 {
    width: calc(16.66667% - 20px);
  }

  .push-m-1-of-6 {
    margin-left: calc(16.66667% + 20px / 2);
  }

  .pull-m-1-of-6 {
    margin-right: calc(16.66667% + 20px / 2);
  }

  .col-m-2-of-6 {
    width: calc(33.33333% - 20px);
  }

  .push-m-2-of-6 {
    margin-left: calc(33.33333% + 20px / 2);
  }

  .pull-m-2-of-6 {
    margin-right: calc(33.33333% + 20px / 2);
  }

  .col-m-4-of-6 {
    width: calc(66.66667% - 20px);
  }

  .push-m-4-of-6 {
    margin-left: calc(66.66667% + 20px / 2);
  }

  .pull-m-4-of-6 {
    margin-right: calc(66.66667% + 20px / 2);
  }

  .col-m-5-of-6 {
    width: calc(83.33333% - 20px);
  }

  .push-m-5-of-6 {
    margin-left: calc(83.33333% + 20px / 2);
  }

  .pull-m-5-of-6 {
    margin-right: calc(83.33333% + 20px / 2);
  }

  .col-m-1-of-8 {
    width: calc(12.5% - 20px);
  }

  .push-m-1-of-8 {
    margin-left: calc(12.5% + 20px / 2);
  }

  .pull-m-1-of-8 {
    margin-right: calc(12.5% + 20px / 2);
  }

  .col-m-3-of-8 {
    width: calc(37.5% - 20px);
  }

  .push-m-3-of-8 {
    margin-left: calc(37.5% + 20px / 2);
  }

  .pull-m-3-of-8 {
    margin-right: calc(37.5% + 20px / 2);
  }

  .col-m-5-of-8 {
    width: calc(62.5% - 20px);
  }

  .push-m-5-of-8 {
    margin-left: calc(62.5% + 20px / 2);
  }

  .pull-m-5-of-8 {
    margin-right: calc(62.5% + 20px / 2);
  }

  .col-m-7-of-8 {
    width: calc(87.5% - 20px);
  }

  .push-m-7-of-8 {
    margin-left: calc(87.5% + 20px / 2);
  }

  .pull-m-7-of-8 {
    margin-right: calc(87.5% + 20px / 2);
  }
}

@media (max-width:480px) {
  .s-hide {
    display: none;
  }

  .w-s-auto {
    -ms-flex: 1;
        flex: 1;
  }

  .col-s-1-of-4 {
    width: calc(25% - 20px);
  }

  .push-s-1-of-4 {
    margin-left: calc(25% + 20px / 2);
  }

  .pull-s-1-of-4 {
    margin-right: calc(25% + 20px / 2);
  }

  .col-s-2-of-4,.col-s-3-of-6 {
    width: calc(50% - 20px);
  }

  .push-s-2-of-4,.push-s-3-of-6 {
    margin-left: calc(50% + 20px / 2);
  }

  .pull-s-2-of-4,.pull-s-3-of-6 {
    margin-right: calc(50% + 20px / 2);
  }

  .col-s-3-of-4 {
    width: calc(75% - 20px);
  }

  .push-s-3-of-4 {
    margin-left: calc(75% + 20px / 2);
  }

  .pull-s-3-of-4 {
    margin-right: calc(75% + 20px / 2);
  }

  .col-s-4-of-4,.col-s-6-of-6 {
    width: calc(100% - 20px);
  }

  .push-s-4-of-4,.push-s-6-of-6 {
    margin-left: calc(100% + 20px / 2);
  }

  .pull-s-4-of-4,.pull-s-6-of-6 {
    margin-right: calc(100% + 20px / 2);
  }

  .col-s-1-of-6 {
    width: calc(16.66667% - 20px);
  }

  .push-s-1-of-6 {
    margin-left: calc(16.66667% + 20px / 2);
  }

  .pull-s-1-of-6 {
    margin-right: calc(16.66667% + 20px / 2);
  }

  .col-s-2-of-6 {
    width: calc(33.33333% - 20px);
  }

  .push-s-2-of-6 {
    margin-left: calc(33.33333% + 20px / 2);
  }

  .pull-s-2-of-6 {
    margin-right: calc(33.33333% + 20px / 2);
  }

  .col-s-4-of-6 {
    width: calc(66.66667% - 20px);
  }

  .push-s-4-of-6 {
    margin-left: calc(66.66667% + 20px / 2);
  }

  .pull-s-4-of-6 {
    margin-right: calc(66.66667% + 20px / 2);
  }

  .col-s-5-of-6 {
    width: calc(83.33333% - 20px);
  }

  .push-s-5-of-6 {
    margin-left: calc(83.33333% + 20px / 2);
  }

  .pull-s-5-of-6 {
    margin-right: calc(83.33333% + 20px / 2);
  }
}

@media (min-width:480px) {
  .s-and-lower {
    display: none;
  }
}

@media (min-width:840px) {
  .m-and-lower {
    display: none;
  }
}